.tesla-answer {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: white;
  height:100%;
  position: relative;
}

span.tesla-status {
  font-size: xx-large;
  color: orange;
}

div.tesla-details {
  font-family: cursive;
  font-size: medium;
  color: cornflowerblue;
  white-space: pre-wrap;

}
