.tesla-answer {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: white;
  height:100%;
  position: relative;
}

span.tesla-status {
  font-size: xx-large;
  color: red;
}

span.tesla-details {
  font-size: smaller;
  color: white;
  padding-top:400px
}
