/* You can add global styles to this file, and also import other style files */
body {
  height: 100vw;
  background-image: url("/assets/images/parking_lot_tesla.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

@media screen and  (max-width:650px){
  body {
    background: url("/assets/images/parking_lot_tesla_mobile.jpg") no-repeat;
    background-color: black;
  }
}
