/* You can add global styles to this file, and also import other style files */
body {
  height: 100vw;
  background-image: url("/assets/images/model-y-hero-1200.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

@media screen and  (max-width:650px){
  body {
    background: url("/assets/images/model-y-hero-400.jpg") no-repeat 50% 50%;
    background-color: black;
  }
}
